version: '3.9'

services:
  app:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./app/out/:/app/out/
      - ./app/cache/:/app/cache/
      - ./db/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro
    command: python main.py
    working_dir: /app
  
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: